@model IEnumerable<DairyDashboard.Models.Farm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<head>
    <!-- js -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @*<script src="https://unpkg.com/popperjs/core2"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>-->
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@
    <script src="~/lib/chartsjs/Chart.bundle.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    @*<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">*@
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>


    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Farm
    </button>
    <div class="dropdown-menu">
        @foreach (var item in Model)
        {
            <a class="dropdown-item" href="#" id=@Html.DisplayFor(modelItem => item.Id)>@Html.DisplayFor(modelItem => item.FarmName)</a>
        }
    </div>

    <div>
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FarmName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>

</body>


<script>
    $(document).ready(function () {
    })

    $('.dropdown-menu a').click(function () {
        let x = this.id;
        alert(x)

        $.getJSON("/Farms/GetSingleFarmData",
            {
                farmId: x
            },
            function (usageData) {
                var x = 0;
                if (usageData.length > 0) {
                    for (i = 0; i < usageData.length; i = i + 3) {
                        var machineName = usageData[i];
                        var x_data = usageData[i + 1];
                        var y_data = usageData[i + 2];

                        var options = {
                            type: 'line',
                            data: {
                                labels: x_data,
                                datasets: [{
                                    label: machineName,
                                    data: y_data,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            reverse: false
                                        }
                                    }]
                                }
                            }
                        }
                        var canvas = document.createElement('canvas');
                        var ctx = canvas.getContext('2d')
                        var canvasId = "canvasId" + x++;
                        canvas.id = canvasId;
                        canvas.width = 450;
                        canvas.height = 750;
                        document.body.appendChild(canvas);

                        new Chart(ctx, options);
                    }
                }
                else {
                    var noDataLabel = document.createElement('label');
                    noDataLabel.innerHTML = "No Data for this Farm";
                    document.body.appendChild(noDataLabel);
                }
        })
    });
</script>
