@model IEnumerable<DairyDashboard.Models.Farm>

@{
    ViewData["Title"] = "Farms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Single Farm Data</h1>
<head>
    <!-- js -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/chartsjs/Chart.bundle.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div id="loader"></div>

    @*<p>
        <a asp-action="Create">Create New</a>
    </p>*@


    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Farm
    </button>
    <div class="dropdown-menu">
        @foreach (var item in Model)
        {
            <a class="dropdown-item" href="#" id=@Html.DisplayFor(modelItem => item.Id)>@Html.DisplayFor(modelItem => item.FarmName)</a>
        }
    </div>
    <div id="NoDataLabel"></div>
    @*<div>
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FarmName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>*@
    <div>
        <br/><br />
    </div>
</body>


<script>
    $(document).ready(function () {
    })

    $('.dropdown-menu a').click(function () {
        let x = this.id;
        ClearOldMessages();


        $.getJSON("/Farms/GetSingleFarmData",
            {
                farmId: x
            },
            function (usageData) {
                var x = 0;
                if (usageData.length > 0) {
                    for (i = 0; i < usageData.length; i = i + 6) {
                        var machineName = usageData[i];
                        var x_data = usageData[i + 1];
                        var y_data = usageData[i + 2];

                        var options = {
                            type: 'line',
                            data: {
                                labels: x_data,
                                labelString: 'test_this_string_label',
                                datasets: [{
                                    label: machineName,
                                    data: y_data,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            reverse: false
                                        }
                                    }]
                                }
                            }
                        }
                        var canvas = document.createElement('canvas');
                        var ctx = canvas.getContext('2d')
                        var canvasId = "canvasId" + x++;
                        canvas.id = canvasId;
                        document.body.appendChild(canvas);

                        var x = document.createElement("h4");
                        //x.style.color = "#587B7F";

                        x.style.textAlign = "center";
                        var t = document.createTextNode("Usage: Average: " + usageData[i + 3] + " Min: " + usageData[i + 4] + " Max: " + usageData[i + 5]);
                        x.appendChild(t);
                        document.body.appendChild(x);
                        

                        new Chart(ctx, options);
                    }
                }
                else {
                    document.getElementById("NoDataLabel").innerHTML = "There appears to be no data for this Farm";
                }
        })
    });

    function ClearOldMessages() {
        document.getElementById("NoDataLabel").innerHTML = "";
        for (z = 0; z <= 5; z++) {
            var exists = document.getElementById('canvasId' + z);
            if (exists != null)
                document.getElementById('canvasId' + z).remove();
        }
    }
</script>
