@model IEnumerable<DairyDashboard.Models.Farm>

    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Index</h1>
    <head>
        <script src="~/lib/chartsjs/Chart.bundle.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://unpkg.com/popperjs/core2"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FarmName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Farm
            </button>
            <div class="dropdown-menu">
                @foreach (var item in Model)
                {
                    <a class="dropdown-item" href="#">@Html.DisplayFor(modelItem => item.FarmName)</a>
                }
            </div>
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Farm
            </button>
            <div class="dropdown-menu">
                @foreach (var item in Model)
                {
                    <a class="dropdown-item" href="#">@Html.DisplayFor(modelItem => item.FarmName)</a>
                }
            </div>



            <body>
                <canvas id="chartJSContainer" width="150" height="100"></canvas>
            </body>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FarmName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }

        </tbody>

    </table>

    <script>
        $(document).ready(function () {
            $.getJSON("/Farms/Dashboard", function (usageData) {

                var x_data = usageData[0];
                var y_data = usageData[1];

                var options = {
                    type: 'line',
                    data: {
                        labels: x_data,
                        datasets: [{
                            label: 'Recorded Usage',
                            data: y_data,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    reverse: false
                                }
                            }]
                        }
                    }
                }


                var ctx = document.getElementById('chartJSContainer').getContext('2d');
                new Chart(ctx, options);
            })
        })
    </script>
